.azul {
    color: blue;
}
/* clases con .*/
.verde {
    color: green;
}
/* se lo llama com #*/
#normal {
        color: black;
}

#cursiva{
    font-style: italic;
}

.mayusculas{
    text-transform: uppercase;
}


p {
    color: blue;
}

p i{
    color: red;
}
.imagen{
    border-top: 5px solid blue;
    border-left: 5px dashed red;
    border-right: 5px dotted green;
    border-bottom: 5px double black;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 80px;
    margin-left: 150px;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 50px;
    padding-right: 50px;
    width: 250px;
    height: 150px;
    background: rgb(94, 90, 90);

}

.imagen:hover{
    width: 500px;
}

p{
    border-top: 5px solid blue;
        border-left: 5px dashed red;
        border-right: 5px dotted green;
        border-bottom: 5px double black;
        margin-top: 20px;
        margin-right: 50px;
        margin-bottom: 80px;
        margin-left: 150px;
        padding-top: 20px;
        padding-left: 40px;
        padding-bottom: 50px;
        padding-right: 50px;
    }


