.boton{
    height: 100px;
    width: 150px;
    margin-top: 20px;
    margin-left: 100px;
    background:red ;
}
.cabecera{
    background: green;
    height: 90px;
}
.cabecera li{
    width: 150px;
    background: white;
    margin-left: 25px;
    margin-top: 25px;
    padding: 10px;
    
    
}

ul{
    list-style: none;
    display: flex;
    
    
}
a{
    text-decoration: none ;
    color: black;
}
.centrar-texto{
        text-align: center;
}
